# ignore node_modules
node_modules/

# ignore env files
.env

# ignore development folders
.vscode/
.idea/
.dev/

# ignore built folders
dist/

# ignore logs
*.log

# ignore package-lock
package-lock.json